@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  padding: 0.75rem 1.5rem;
}

td {
  font-weight: 500;
  padding: 1rem 1.5rem;

  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media not all and (min-width: 768px) {
  th {
    padding: 0.5rem 1rem;
    font-size: smaller;
  }

  td {
    padding: 1rem 1rem;
  }
}

@media not all and (min-width: 640px) {
  td {
    font-size: smaller;
  }

  th {
    padding: 0.5rem;
  }
}
